.txthome
{
	color: #OO3333;
	font-size: 40px;
	font-family: arial;
	text-decoration: none;
	letter-spacing: 2px;
}
.txtnav
{
	color: #66FFFF;
	font-size: 12px;
	font-family: verdana;
	text-decoration: none;
	line-height: 35px;
}
.txtexpo
{
	color: #808080;
	font-size: 11px;
	font-family: Verdana;
	text-decoration: none;
	line-height: 15px;
}
.titre
{
	color: #339999;
	font-size: 16px;
	font-family: Verdana;
	text-decoration: none;
}
.txt
{
	color: #666666;
	font-size: 11px;
	font-family: verdana;
	text-decoration: none;
	line-height: 18px;
}
.txtplus
{
	color: #505050;
	font-size: 11px;
	font-family: verdana;
	text-decoration: none;
	line-height: 18px;
}
.intro
{
	color: #CC0000;
	font-size: 12px;
	font-family: verdana;
	text-decoration: none;
	line-height: 18px;
	font-style: italic;
	font-weight: 200;
}
.txtpt
{
	color: #333333;
	font-size: 9px;
	font-family: verdana;
	text-decoration: none;
	line-height: 14px;
}
.txtbas
{
	color: #999999;
	font-size: 9px;
	font-family: verdana;
	text-decoration: none;
	line-height: 15px;
}
.txttitre
{
	color: #CC0000;
	font-size: 24px;
	font-family: Times;
	text-decoration: none;
}
a
{
  text-decoration: none !important;
}
a:hover
{
	text-decoration: none !important;
}
